.header{
    background-color: cadetblue;
    margin-bottom: 0px;
    padding: 5px;
    text-align: center;
}

.img1 {
    position: relative;
    text-align: center;
  }
  
  
  #bottom-right {
    position: absolute;
    bottom: 5px;
    font-size: 10px; 
    left: 10px;
  }

  #bottom-left{
    position: absolute;
    bottom: 5px;
    font-size: 10px; 
    right: 10px;
  }

.intro{    
    text-align: center;
    padding-bottom: 24px;
    margin-right: -30px;
    background-color: beige;
}

.about{
    text-align: center;
    padding-bottom: 40px;
    margin-left: -24px;
    background-color: beige;
}

.main{
    margin-bottom: -20px;
}

.bottom{
    text-align: center;
    font-size: 14px;
    background-color: cadetblue;
    padding: 10px;
}

.formstr{
    border-radius: 5px;
    border: 1px solid lightgray;
    padding: 10px;
    background-color: #e6e6e6;
}

.form-group{
    padding: 10px;
}

.profile{
    background-color: #94b8b8;
}

.thumbnail{
    border: 1px solid #ddd;
    border-radius: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
}

.source_text{
    text-align: center;
    font-size: 12px;
}

.card{
    text-align: center;
    padding: 15px;
    margin-bottom: 50px;
    background-color: #e6e6e6;
}

hr{
    border: 2px solid lightgray;
}

th[role=columnheader]:not(.no-sort) {
	cursor: pointer;
}

th[role=columnheader]:not(.no-sort):after {
	content: '';
	float: right;
	margin-top: 7px;
	border-width: 0 4px 4px;
	border-style: solid;
	border-color: #404040 transparent;
	visibility: hidden;
	opacity: 0;
	-ms-user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}

th[aria-sort=ascending]:not(.no-sort):after {
	border-bottom: none;
	border-width: 4px 4px 0;
}

th[aria-sort]:not(.no-sort):after {
	visibility: visible;
	opacity: 0.4;
}

th[role=columnheader]:not(.no-sort):hover:after {
	visibility: visible;
	opacity: 1;
}